.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px 30px 60px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.result {
  height: 50px;
  color: #4ECCA3;
  
}

span {
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  color: white;
}

.button {
  display:block;
  margin: 70px auto 0;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  color: #232931;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: cursive;
}

.button:hover {
	background-color:#4ECCA3;
  
}
.button:active {
	position:relative;
	top:1px;
}


p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
